<div class="top-row navbar navbar-dark ps-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NucAIChat</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="https://neovim.io/" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NeoVIM
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://www.pokemon.com/" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pokémon
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://www.pokemoncenter.com/product/72-10419-101/gardevoir-poke-plush-63-in" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nuc Patreon Goal
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://www.disneyplus.com/" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Phineas and Ferb
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://archlinux.org/" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NucOS
            </a>
        </div>
    </nav>
</div>